@use '../../styles/partials/base/_variables.scss' as *;
@use '../../styles/partials/base/mixins' as *;

.page-layout {
  background-color: $slate-100;
  padding: 1rem 3rem 2.5rem 3rem;
  width: fit-content;

  .wrapper {
    max-width: $s-2xl; // fix

    @include mq(md) {
      max-width: $s-3xl; // fix
    }
    @include mq(lg) {
      max-width: $s-4xl; // fix
    }
    @include mq(xl) {
      max-width: none; // fix
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    color: $slate-600;
    text-transform: capitalize;
  }
  .header-text {
    font-size: 21px;
  }
}
