// COLORS

$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-400: #94a3b8;
$slate-500: #64748b;
$slate-600: #475569;
$slate-700: #334155;
$slate-800: #1e293b;
$slate-900: #0f172a;

$cyan: #22d3ee;
$red: #f43f5e;

// FONT SIZES

// SIZES
$s-xs: 20rem; /* 320px */
$s-sm: 24rem; /* 384px */
$s-md: 28rem; /* 448px */
$s-lg: 32rem; /* 512px */
$s-xl: 36rem; /* 576px */
$s-2xl: 42rem; /* 672px */
$s-3xl: 48rem; /* 768px */
$s-4xl: 56rem; /* 896px */
$s-5xl: 64rem; /* 1024px */
$s-6xl: 72rem; /* 1152px */
$s-7xl: 80rem; /* 1280px */
