@use '../../styles/partials/base/_variables.scss' as *;

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px; //temp
  padding: 1.5rem 1rem;
}
.searchBar__heading {
  font-size: 20px;
  font-weight: 600;
  color: $slate-600;
  text-transform: capitalize;
}

.searchBar__textInput__wrapper {
  position: relative;
}

.searchBar__textInput {
  color: $slate-700;
  text-align: center;
  padding: 0.5rem 0.5rem;
  outline: none;
  border: 1px solid $slate-300;
  border-radius: 1000px;
  background-color: $slate-100;
  transition: all 0.2s cubic-bezier(0.3, 0, 0.5, 1);

  &:focus {
    border: 1px solid $slate-500;
  }

  &::placeholder {
    color: $slate-500;
    text-transform: capitalize;
  }
}

.searchBar__button {
  border: none;
  background: none;
  color: $slate-400;
  position: absolute;
  padding: 8px 7px 8px 12px;
  left: 0;
  top: 0;
  font-size: 20px;
}
