@use '../../styles/partials/base/_variables.scss' as *;

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: #fff;

  .heading {
    font-size: $fs-lg;
    margin-left: 2.2rem;
    color: $slate-600;
    font-weight: 500;
    text-transform: capitalize;
  }

  .textInput__wrapper {
    position: relative;
  }

  .btn {
    border: none;
    background: none;
    color: $slate-400;
    position: absolute;
    padding: 8px 7px 8px 12px;
    left: 0;
    top: 0;
    font-size: 20px;
  }
}
