@use '../../styles/partials/base/variables' as *;

.usersTable {
  // width: 100%;
  color: $slate-600;
  border-collapse: collapse;
}

.tableHead {
  background-color: $slate-100;
  text-align: left;
  text-transform: capitalize;
  th {
    // width: 100%;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    &:first-child {
      padding-left: 20px;
      padding-right: 0;
    }
  }

  .index {
    width: 4rem;
  }
  .name {
    min-width: 24rem;
  }
  .mail {
    min-width: 15rem;
  }
  .role {
    width: 8rem;
  }

  .buttons {
    min-width: 16rem;
  }
}

.data__message {
  display: flex;
  color: $slate-400;
  padding: 2rem 1rem;
  text-transform: capitalize;
}
