@use '../../styles/partials/base/variables' as *;

.tableRow {
  color: $slate-600;
  background-color: #fff;
  transition: all 0.2s cubic-bezier(0.3, 0, 0.5, 1);

  &:hover {
    background-color: $slate-50;
  }

  td {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;

    &:first-child {
      padding-left: 20px;
      padding-right: 0;
    }
  }

  .buttons {
    min-width: 16rem;
    display: flex;
    gap: 0.5rem;

    button {
      flex: 1;

      .content-wrapper {
        display: flex;
        justify-content: center;
        gap: 0.8rem;
      }
    }
  }
}
