@use '../../styles/partials/base/variables';

.users-id {
  min-width: 4rem;
}
.users-name {
  min-width: 20rem;
}
.users-email {
  min-width: 15rem;
}
.users-role {
  min-width: 8rem;
}

.users-buttons {
  min-width: 16rem;
}

.buttons {
  min-width: 16rem;
  display: flex;
  gap: 0.5rem;

  button {
    flex: 1;

    .content-wrapper {
      display: flex;
      justify-content: center;
      gap: 0.8rem;
    }
  }
}
